{
    "region": "{{ template_vars['region'] }}",
    "tag_key": "{{ template_vars['tag_key'] }}",
    "tag_value": "{{ template_vars['tag_value'] }}",
    "efs": [
     {% for resource in template_vars['efs']['efs_fs'] %}
        {
            "name": "{{ resource['name'] }}",
            "file_system_id": "{{ resource['file_system_id'] }}"
        }{% if not loop.last %},{% endif %} 
    {% endfor %}
    ],
    "efs_widget_height": 5,
    "efs_widget_width": {{ template_vars['efs']['widget_width'] }},
    "efs_level_2_widget_height": 5,
    "efs_level_2_widget_width": 8
}
